# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [4]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,22.0752,-159.3190,74.10,86,26,1.01
1,1,Bataipora,BR,-22.2953,-53.2711,68.09,83,94,4.50
2,2,Rikitea,PF,-23.1203,-134.9692,69.06,80,65,23.49
3,3,Mataura,NZ,-46.1927,168.8643,46.20,97,54,4.27
4,4,Guerrero Negro,MX,27.9769,-114.0611,69.28,68,98,5.21

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [8]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [9]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
15,15,Marsh Harbour,BS,26.5412,-77.0636,79.83,64,12,16.75
17,17,Beberibe,BR,-4.1797,-38.1306,82.31,55,0,13.22
20,20,Bredasdorp,ZA,-34.5322,20.0403,75.49,54,64,10.31
27,27,Sola,VU,-13.8833,167.5500,80.06,77,40,13.13
28,28,Ninh Binh,VN,20.2539,105.9750,76.51,57,31,6.04
29,29,Bambous Virieux,MU,-20.3428,57.7575,77.22,69,100,10.04
31,31,Caxito,AO,-8.5785,13.6643,87.62,51,91,6.55
42,42,Limon,CR,10.0000,-83.0333,75.06,82,100,2.71
46,46,Marsa Matruh,EG,31.3525,27.2453,75.70,63,33,23.49
47,47,Salalah,OM,17.0151,54.0924,83.30,53,11,7.36

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [10]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna

# Display sample data
clean_travel_cities

<bound method DataFrame.dropna of      City_ID           City Country      Lat       Lng  Max Temp  Humidity  \
15        15  Marsh Harbour      BS  26.5412  -77.0636     79.83        64
17        17       Beberibe      BR  -4.1797  -38.1306     82.31        55
20        20     Bredasdorp      ZA -34.5322   20.0403     75.49        54
27        27           Sola      VU -13.8833  167.5500     80.06        77
28        28      Ninh Binh      VN  20.2539  105.9750     76.51        57
..       ...            ...     ...      ...       ...       ...       ...
659      659     Santa Rosa      PH  14.3122  121.1114     85.08        87
663      663         Dingli      MT  35.8614   14.3822     76.82        69
664      664       Sidi Ali      DZ  36.0998    0.4206     80.02        44
670      670       Altamira      BR  -3.2033  -52.2064     76.93        88
676      676           Tezu      IN  27.9167   96.1667     75.60        78

     Cloudiness  Wind Speed
15           12       16.75
17            0       13.22
20           64       10.31
27           40       13.13
28           31        6.04
..          ...         ...
659         100        9.08
663          20       10.36
664         100        3.58
670          94        3.09
676           0        3.33

[231 rows x 9 columns]>

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [11]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng
15    Marsh Harbour      BS     79.83  26.5412  -77.0636
17         Beberibe      BR     82.31  -4.1797  -38.1306
20       Bredasdorp      ZA     75.49 -34.5322   20.0403
27             Sola      VU     80.06 -13.8833  167.5500
28        Ninh Binh      VN     76.51  20.2539  105.9750
29  Bambous Virieux      MU     77.22 -20.3428   57.7575
31           Caxito      AO     87.62  -8.5785   13.6643
42            Limon      CR     75.06  10.0000  -83.0333
46     Marsa Matruh      EG     75.70  31.3525   27.2453
47          Salalah      OM     83.30  17.0151   54.0924

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [12]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
15    Marsh Harbour      BS     79.83  26.5412  -77.0636
17         Beberibe      BR     82.31  -4.1797  -38.1306
20       Bredasdorp      ZA     75.49 -34.5322   20.0403
27             Sola      VU     80.06 -13.8833  167.5500
28        Ninh Binh      VN     76.51  20.2539  105.9750
29  Bambous Virieux      MU     77.22 -20.3428   57.7575
31           Caxito      AO     87.62  -8.5785   13.6643
42            Limon      CR     75.06  10.0000  -83.0333
46     Marsa Matruh      EG     75.70  31.3525   27.2453
47          Salalah      OM     83.30  17.0151   54.0924

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [14]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [15]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
# Display sample data
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
15,Marsh Harbour,BS,79.83,26.5412,-77.0636,Abaco Beach Resort
17,Beberibe,BR,82.31,-4.1797,-38.1306,Villa Arte Pousada Morro Branco
20,Bredasdorp,ZA,75.49,-34.5322,20.0403,Bredasdorp Country Manor
27,Sola,VU,80.06,-13.8833,167.5500,Leumerus Bungalows
28,Ninh Binh,VN,76.51,20.2539,105.9750,Kinh Do Hotel
...,...,...,...,...,...,...
659,Santa Rosa,PH,85.08,14.3122,121.1114,Erlyn’s Sta Rosa City Home
663,Dingli,MT,76.82,35.8614,14.3822,The Xara Palace Relais & Chateaux
664,Sidi Ali,DZ,80.02,36.0998,0.4206,Khaled
670,Altamira,BR,76.93,-3.2033,-52.2064,Requinte Hotel
676,Tezu,IN,75.60,27.9167,96.1667,Circuit House

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [18]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
15,Marsh Harbour,BS,79.83,26.5412,-77.0636,Abaco Beach Resort
17,Beberibe,BR,82.31,-4.1797,-38.1306,Villa Arte Pousada Morro Branco
20,Bredasdorp,ZA,75.49,-34.5322,20.0403,Bredasdorp Country Manor
27,Sola,VU,80.06,-13.8833,167.5500,Leumerus Bungalows
28,Ninh Binh,VN,76.51,20.2539,105.9750,Kinh Do Hotel
...,...,...,...,...,...,...
659,Santa Rosa,PH,85.08,14.3122,121.1114,Erlyn’s Sta Rosa City Home
663,Dingli,MT,76.82,35.8614,14.3822,The Xara Palace Relais & Chateaux
664,Sidi Ali,DZ,80.02,36.0998,0.4206,Khaled
670,Altamira,BR,76.93,-3.2033,-52.2064,Requinte Hotel
676,Tezu,IN,75.60,27.9167,96.1667,Circuit House

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [21]:
# Set the file name.
output_data_file = "../Vacation_Search/WeatherPy_Vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [51]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [52]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
#hotel_info[:10]
len(hotel_info)

229

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [53]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
#locations.head(10)
locations.size

458

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [56]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Create a figure to add the Google map as a layer
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))